@{
    ViewData["Title"] = "Inspección por TM";
    ViewData["Subtitle"] = "Piezas Inspeccionadas por Team Member.";
}


<div class="row mb-4">
    <div class="col-md-6 col-xl-4">
        <div class="card  card-hover bg-warning-subtle shadow-sm border-0 text-white rounded-4">
            <div class="card-body m-1">
                <h5 class="fw-bold text-warning-emphasis"><i class="bi bi-box-seam me-2"></i>Piezas Recibidas</h5>
                <h3 class="fw-bold text-primary-emphasis"></h3>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card bg-success-subtle shadow-sm border-0 rounded-4 card-hover">
            <div class="card-body m-1">
                <h5 class="fw-bold text-success-emphasis">
                    <i class="bi bi-check-circle me-2"></i> Total Piezas Buenas
                </h5>
                <h3 class="fw-bold text-success-emphasis"></h3>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card bg-danger-subtle shadow-sm border-0 rounded-4 card-hover">
            <div class="card-body m-1">
                <h5 class="fw-bold text-danger-emphasis">
                    <i class="bi bi-exclamation-triangle me-2"></i> Total Defectos
                </h5>
                <h3 class="fw-bold text-danger-emphasis"></h3>
            </div>
        </div>
    </div>

</div>