@model ProducScan.Models.Mandril

<!-- Modal Create/Edit -->
<div class="modal fade" id="createEditModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <!-- modal-lg para que se vea más amplio -->
        <div class="modal-content">
            <form id="createEditForm" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Crear Mandril</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="mandrilId" name="Id" />

                    <div class="row g-3">

                        <div class="col-md-6">
                            <label class="form-label">Mandril</label>
                            <input type="text" class="form-control rounded-pill" id="mandrilNombre" name="MandrilNombre" required />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Centro de Costos</label>
                            <input type="text" class="form-control rounded-pill" id="centrodeCostos" name="CentrodeCostos" required pattern="^[0-9]+$" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Cantidad de Empaque</label>
                            <input type="text" class="form-control rounded-pill" id="cantidaddeEmpaque" name="CantidaddeEmpaque" required pattern="^[0-9]+$" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Barcode</label>
                            <input type="text" class="form-control rounded-pill" id="barcode" name="Barcode" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Familia</label>
                            <select class="form-select rounded-pill" id="familia" name="Familia">
                                <option value="">Seleccione una familia</option>
                                <option>33x39.4</option>
                                <option>33x42</option>
                                <option>7x12</option>
                                <option>7.5X14.5</option>
                                <option>37X44</option>
                                <option>37X47</option>
                                <option>11x18</option>
                                <option>13x20</option>
                                <option>13X21</option>
                                <option>24x30</option>
                                <option>16x24</option>
                                <option>7X14</option>
                                <option>11X17</option>
                                <option>9.7X17.6 (AEM)</option>
                                <option>9.7X17.6 (ACM)</option>
                                <option>9.3X17.2</option>
                                <option>8.9X17.2</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Proceso</label>
                            <select class="form-select rounded-pill" id="proceso" name="Proceso">

                                <option value="">Seleccione un proceso</option>
                                <option>Coex</option>
                                <option>CHS</option>
                                <option>ACM</option>
                                <option>AEM</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Kanban</label>
                            <input type="text" class="form-control rounded-pill" id="kanban" name="Kanban" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Estación</label>
                            <input type="text" class="form-control rounded-pill" id="estacion" name="Estacion" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Peso Mínimo</label>
                            <input type="number" step="0.01" class="form-control rounded-pill" id="pesomin" name="PesoMin" />
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Peso Máximo</label>
                            <input type="number" step="0.01" class="form-control rounded-pill" id="pesomax" name="PesoMax" />
                        </div>

                    </div>
                </div>

               
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="saveBtn">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
