@{
    var oven = ViewBag.Oven?.ToString();
    ViewData["Title"] = "Top 5 Mandriles";
    ViewData["PageTitle"] = "Reporte Inspección";
    ViewData["Subtitle"] = "Mandriles organizados por costos.";
}

<h2 class="mb-4">Top 5 Mandriles del Oven @oven</h2>

<ul id="listaTopMandriles" class="list-group"></ul>

@section Scripts {
    <script>
        $(document).ready(function () {

            $.ajax({
                url: '/Oven/GetTop5MandrilesPorOvenTurno',
                type: 'GET',
                data: {
                    oven: '@oven'
                },
                success: function (data) {

                    const lista = $("#listaTopMandriles");
                    lista.empty();

                    if (!data || !data.length) {
                        lista.append(`
                            <li class="list-group-item text-muted text-center">
                                No hay datos en este turno
                            </li>
                        `);
                        return;
                    }

                    data.forEach(m => {

                        const mandrilItem = $(`
                            <li class="list-group-item">
                                <div class="fw-bold">
                                    ${m.mandril}
                                </div>

                                <div class="mt-2 small text-muted">Top 3 defectos:</div>
                                <ul class="mt-1 ps-3 small"></ul>
                            </li>
                        `);

                        const subLista = mandrilItem.find("ul");

                        m.topDefectos.forEach(def => {
                            subLista.append(`
                                <li class="d-flex justify-content-between">
                                    <span>${def.codigo} - ${def.nombre}</span>
                                    <span class="badge bg-secondary rounded-pill">${def.total}</span>
                                </li>
                            `);
                        });

                        lista.append(mandrilItem);
                    });
                }
            });

        });
    </script>
}